.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

form {
    width: 450px;
    padding: 30px 30px 15px 30px;
    height: 100vw;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}