body {
  margin: 0;
  padding: 0;
  background-color: #005f8b;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background: linear-gradient(black, #005f8b);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: aleo;
}

h1 {
  font-size: 45px;
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(#b48811, #d9c387, #bb9b49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  background: linear-gradient(#b48811, #d9c387, #bb9b49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splitscreen {
  display: grid;
  grid-template-columns: 1px auto;
  align-items: flex-start;
}

img {
  display: block;
  margin-top: 33px;
}

.fields {
  display: grid;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  background: linear-gradient(#b48811, #d9c387, #bb9b49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#email, #name {
  width: 180px;
  height: 20px;
  color: #1e2166;
  background-color: #bbc4c8;
  opacity: 0.5;
  z-index: 1;
  margin-bottom: 5px;
}

button {
  background-color: #1e2166;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 30px;
  z-index: 1;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

tbody tr:nth-child(odd) {
  background-color: #e8e8e6;
}

tbody tr:nth-child(even) {
  background-color: #cecece;
}

table {
  width: 100%;
  background-color: #005881;
}

.export-btn{
  display: flex;
  justify-content: center;
  background-color: #1e2166;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 30px;
  z-index: 1;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
  color: #cecece;
}