.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

form {
    width: 450px;
    padding: 30px 30px 15px 30px;
    height: 100vw;
}

.edit-btn {
    background-color: #1e2166;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    z-index: 1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}